@import 'mixins';
.contacts-block{
  width: 100%;
  background-color: #fff;
  .rect7{
    @extend %rect-rules;
    width: 50%;
    height: 70px;
  }
  .gps{
    @extend %ring-rules;
    top: 3095px;
    left: 12.27%;
  }
  h2{
    @include font-sl(24px);
    color: rgb(1,25,121);
    font-weight: bold;
    text-align: center;
    padding:0 0 10px 0;
    margin: 0;
    color: $mydarkblue;
  }
 h1{
    position: relative;
    z-index: 3;
    @include font-sl(72px);
    padding: 20px 0 45px 0;
    margin:0;
    color: rgb(1,25,121);
    font-weight: bold;
    text-align: center;
  }
  p{
    @include font-sl(16px);
    color: #6e6e6e;
    text-align: center;
    padding:0 0 10px 0;
    margin: 0;
  }
  .contacts{
    display:block;
    h2{
      padding: 55px 0 45px 0;
    }
    .phone{
      margin-left: 23.2638%;
      float: left;
      padding-bottom: 40px;
    }
    .number{
      margin-left: 5.2083%;
      @include font-sl(16px);
      float:left;
      padding-top: 12px;
      p{
        color: rgb(39,114,207);
        padding: 0;
        margin-bottom: 10px;
        margin-top: 0;
        span{
          color: #8e8e8e;
        }
      }
    }
    .e-mail{
      float: left;
      margin-left: 5.0694%;
      padding-top: 30px;
      p{
        text-align: left;
        font-size: 16px;
        color: #0066cc;
        vertical-align: middle;
      }
    }
    .adress{
      float: left;
      margin-left: 5.3472%;
      padding-top: 12px;
      h3{
        text-align: left;
        @include font-sl(14px);
        color: #0066cc;
        margin:0;
      }
      p{
        margin: 0;
          text-align: left;
      }
    }

  }
  .map{
    display: inline-block;
    height: 450px;
    width: 100%;
    background-color: grey;
    h1{
      margin: 0 0;
    }
  }
  .filials{
      .fil-title{
        margin-bottom: 20px;
        margin-top: 40px;
        padding-bottom: 0;
      }
      .button1{
        display: block;
        background-color: #f4f4f4;
        width: 320px;
        height: 30px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        border: none;
      }
      .adress-block{
        display: block;
          p{
            @include font-sl(14px);
            color: #6e6e6e;
            text-align: left;
            padding-bottom: 11px;
          }
        .adress-left{
          float: left;
          width: auto;
          padding-left: 17.5%;
        }
        .adress-center{
          float: left;
          margin-left: 4.16%;
        }
        .adress-right{
          float: left;
          margin-left: 4.16%;
        }
      }
      .button2{
        height: 42px;
        display:inline-block;
        width: 15.972%;
        margin: 30px 0 60px 42.01%;
        @include font-sl(18px);
        font-weight: bold;
        color: #fff;
        background-color: $mydarkblue;
        border-radius: 5px;
        border: none;
      }
    }
  }
